form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-height: 600px;
  height: 100vh;
  max-width: 300px;
  margin: 0 auto;

  input {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
  }

  span {
    color: red;
    font-size: 14px;
    margin-bottom: 5px;
  }

  button {
    background-color: #000000;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;

    &:hover {
      background-color: #212121;
    }
  }
}
