footer {
  max-width: 100%;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;

  align-items: end;
  gap: 150px;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    gap: 0px;
    margin: 30px 20px;
  }
}
